aiohttp==3.7.4.post0
altgraph==0.17.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
certifi==2021.10.8
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.1
cryptography==3.4.7
dnspython==2.1.0
evdev==1.4.0
Flask==2.0.1
future==0.18.2
idna==3.3
impacket==0.9.23
itsdangerous==2.0.1
Jinja2==3.0.1
ldap3==2.9
ldapdomaindump==0.9.3
MarkupSafe==2.0.1
multidict==5.2.0
pefile==2021.5.24
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.20
pycryptodomex==3.11.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pymssql==2.2.1
pynput==1.7.4
pyOpenSSL==20.0.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-xlib==0.31
pytz==2021.3
qasync==0.22.0
qrcode==6.1
requests==2.26.0
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.1
yarl==1.7.0
